.row {
    img {
        max-height: 6em;
        min-width: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
    }
    div {
        cursor: pointer;
        margin-top: 1em;
        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 1.2em;
            font-family: cursive;
            color: blueviolet;
            border-bottom: solid lightgray 1px;
        }
        span {
            margin: 0px;
            padding: 0px;
            .fas {
                color: blueviolet;
                margin-bottom: 0px;
                padding: 0px;
            }
        }
    }
}

@media (max-width: 500px) {
    .row {
        img {
            min-width: 100%;
            min-height: 60%;
        }
    }
}