<div class="card p-3" *ngIf="sermons">
    <h2 class="text-center">Sermons</h2>
    <div class="row mb-2" *ngFor="let sermon of sermons">
        <div class="col-12 col-md-2 ml-2 pb-1 mx-auto">
            <img class="img-thumbnail" src="../../assets/images/prayer-bg.jpg" alt="">
        </div>
        <div class="col-12 col-md-9" routerLink="/category/sermon/{{sermon._id}}">
            <h3>{{sermon.title}}</h3>
            <p routerLink="/category/sermon/{{sermon._id}}">By: {{sermon.author}}
                <span> <i class="fas fa-forward fa-md"></i></span>
            </p>
        </div>
    </div>
    <div *ngIf="serMess" class="mx-auto">
        <h3>Error</h3>
        <h4>{{serMess}}</h4>
    </div>
    <ng-template [ngIf]="!sermons && !serMess">
        <div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    </ng-template>
</div>
<div class="card p-3 m-2" *ngIf="testimony">
    <h2 class="text-center">Testimony</h2>
    <div class="row mb-2" *ngFor="let testify of testimony">
        <div class="col-12">
            <span class="h6">{{testify.about}}
                <br>
                <p class="pt-1 pb-1 mb-0">By: {{testify.author}}</p>
            </span>
        </div>
    </div>

    <div *ngIf="tesMess" class="mx-auto">
        <h3>Error</h3>
        <h4>{{tesMess}}</h4>
    </div>
    <ng-template class="mx-auto" [ngIf]="!testimony && !tesMess">
        <div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    </ng-template>
</div>