    // agm-map {
    //     height: 300px;
    // }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    *:after,
    *:before {
        box-sizing: border-box;
    }
    
    $lt-gray: #ddd;
    $background-dark: #512DA8;
    $background-light: #9575CD;
    $background-pale: #D1C4E9;
    $background-moredark: #4527A0;
    #main {
        margin: 0px;
        padding: 0px;
        text-align: center;
        .map {
            margin: 0px;
            padding: 0px;
            iframe {
                width: 100%;
                height: 30em;
                border: 0;
                border: 0;
            }
            figcaption {
                font-weight: 400;
            }
        }
        form {
            margin: 0px;
            padding: 0px;
            margin-bottom: 1em;
            min-width: 100%;
            .half-width,
            .full-width {
                width: 100%;
                padding: 0px 1em;
            }
            table {
                margin: 0px;
                width: 100%;
                td {
                    margin: auto 0px;
                    #contacttype {
                        margin-left: 4em;
                        width: 7em;
                        border-radius: 5px;
                        padding: 0.5em;
                    }
                }
            }
            .background-primary {
                color: floralwhite;
                background-color: $background-light;
                padding: 0.3em 1.5em;
                border-radius: 10px;
                margin: 0px auto;
                width: 90%;
            }
        }
        #mat-slide-toggle-1 {
            margin-left: -3em;
        }
    }
    
    @media (max-width: 1024px) {
        #main {
            form {
                min-width: 100%;
                table {
                    td {
                        #contacttype {
                            margin-left: 1em;
                            width: 5em;
                            padding: 0.4em;
                        }
                    }
                }
            }
            #mat-slide-toggle-1 {
                margin-left: -1.5em;
                padding-left: 0px;
            }
        }
    }
    
    @media (max-width: 700px) {
        #main {
            .map {
                iframe {
                    width: 100vw;
                    height: 30em;
                }
            }
            form {
                min-width: 90%;
                .half-width,
                .full-width {
                    width: 100%;
                    padding: 0px 1.5em;
                }
                table {
                    margin: 0px;
                    width: 100%;
                    td {
                        margin: auto 0px;
                        #contacttype {
                            margin-left: 4em;
                            width: 7em;
                            border-radius: 5px;
                            padding: 0.5em;
                        }
                    }
                }
                .background-primary {
                    padding: 0.3em 1.5em;
                }
            }
            #mat-slide-toggle-1 {
                margin-left: -1.5em;
            }
        }
    }
    
    @media (max-width: 514px) {
        #main {
            form {
                min-width: 90%;
                table {
                    td {
                        margin: auto 0px;
                        #contacttype {
                            margin-left: 4em;
                            width: 5em;
                            padding: 0.5em;
                        }
                    }
                }
            }
            #mat-slide-toggle-1 {
                margin-left: -0.7em;
            }
        }
    }
    
    @media (max-width: 400px) {
        #main {
            form {
                table {
                    td {
                        #contacttype {
                            margin-left: 1em;
                            width: 5em;
                            padding: 0.4em;
                        }
                    }
                }
            }
            #mat-slide-toggle-1 {
                margin-left: 0px;
                padding-left: 0px;
            }
        }
    }