<main id="main">
    <figure class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3971.3921350681953!2d5.7976482!3d5.5086613!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041b23fb4b71077%3A0xe631d2a6bb762265!2sAnointed+Celebrating+Christ+Assembly!5e0!3m2!1sen!2sde!4v1532511137670"
            allowfullscreen></iframe>
        <br>
        <figcaption class="text-center">Our Location on the Map</figcaption>
    </figure>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-* col-md-5 mx-auto" [@expand]>
                <p style="padding:15px;"></p>
                <h3 class="text-center">Send us your Feedback</h3>
                <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="showForm" [@expand]>
                    <p>
                        <mat-form-field class="half-width" dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
                            <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                            <mat-hint>
                                <span [hidden]="!(formErrors.firstname)">
                                    {{formErrors.firstname}}</span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field class="half-width" dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
                            <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                            <mat-hint>
                                <span [hidden]="!(formErrors.lastname)">
                                    {{formErrors.lastname}}</span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="half-width" dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
                            <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
                            <mat-hint>
                                <span [hidden]="!(formErrors.telnum)">
                                    {{formErrors.telnum}}</span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field class="half-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
                            <input matInput formControlName="email" placeholder="Email" type="email" email required>
                            <mat-hint>
                                <span [hidden]="!(formErrors.email)">
                                    {{formErrors.email}}</span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <table class="form-size">
                        <td>
                            <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                        </td>

                        <td>
                            <select name="contact" id="contacttype" formControlName="contacttype">
                                <option *ngFor="let ctype of contactType" [value]="ctype"> {{ ctype }}</option>
                            </select>
                            <br>
                            <br>
                        </td>
                    </table>
                    <p>
                        <mat-form-field class="full-width" dividerColor="{{(feedbackForm.get('message').hasError('required') && feedbackForm.get('message').touched) ? 'warn' : 'primary'}}">
                            <textarea matInput formControlName="message" placeholder="Your Feedback" rows=6 cols=60></textarea>
                            <mat-hint color="warn">
                                <span [hidden]="!(feedbackForm.get('message').hasError('required') && feedbackForm.get('message').touched)">
                                    lastname is required</span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
                </form>
                <div [hidden]="showForm || submitted" [@expand]>
                    <h3 class="text-center">Submitting Form</h3>
                    <mat-spinner></mat-spinner>
                </div>
                <div *ngIf="submitted" [@expand]>
                    <h3>Your Submission</h3>
                    <p>First Name: {{submitted.firstname}}</p>
                    <p>Last Name: {{submitted.lastname}}</p>
                    <p>Tel. Number: {{submitted.telnum}}</p>
                    <p>Email: {{submitted.email}}</p>
                    <p>Contact You?: {{submitted.agree}}</p>
                    <p>How?: {{submitted.contacttype}}</p>
                    <p>Feedback: {{submitted.message}}</p>
                </div>

            </div>
            <div class="col-sm-* col-md-5 mx-auto">
                <p style="padding:15px;"></p>
                <div class="row text-left">
                    <div class="col-sm-* mx-auto">
                        <h5>Address</h5>
                        <p>4, Plot 3, Hon. Daudu Orogun Street,
                            <br>Kotokoto, Ovwian,
                            <br>Udu via, Owase, Warri, Nigeria</p>
                        <p style="padding:15px;"></p>
                    </div>
                    <div class="col-sm-* mx-auto">
                        <div>
                            <h5>Contact: Rev. Matthew</h5>
                            <p>Tel: +234 (0) 706 954 7224</p>
                            <p>E-mail: rev-matthew@religion2christ.org</p>
                            <p style="padding:15px;"></p>
                        </div>
                        <div>
                            <h5>Contact: Support</h5>
                            <p>E-mail: support@religion2christ.org</p>
                            <p style="padding:15px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>