<div class="container-fluid" [@flyInOut]>
    <div class="row top-row">
        <div class="col-sm-* col-sm-10 mx-auto child">
            <h3 class="text-center mb-5">Anointed Celebrating Christ Assmbly</h3>
            <p>A church commisioned base on the vision of Lord and savoiur jesus Christ. On the initiated relationship by Christ having chosen us. He commissioned us to bring forth permanent fruit through Visionary leadership of a new world order as profounded
                by Him. (Jn. 15: 14 - 17; Lk. 9: 55 - 56).So we lead the world the world from religion to true life style of Christ Jesus.Live devoid of hatred bitterness and rancor to be compassionate like Him. (Matt. 15: 32)
                <br> Our Slogan: Leading you from religion to true life style of Christ jesus.</p>
        </div>
    </div>
    <p style="padding:15px;"></p>
    <div class="row text-center">
        <div class="col-sm-* col-md-4 mx-auto  d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/acca-8e96c.appspot.com/o/images%2Frev%20Matthew.png?alt=media&token=f28042a2-ed24-4c53-9584-95f15c75420a" alt="Card image cap">
                <div class="card-body">
                    <h4>Rev. Matthew Okpako</h4>
                    <p>General Overseer</p>
                    <p class="card-text blockquote">Mandated to teach the undiluted word of God with passion as commisioned by Our Lord jesus Christ (Matt. 28:19-20; mk. 16:15-16; Acts 1:8).</p>
                </div>
            </div>
        </div>
        <div class="col-sm-* col-md-4 mx-auto d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/acca-8e96c.appspot.com/o/images%2Fmrs.%20Okpako.png?alt=media&token=cff53d08-b94d-46cd-83a4-b90386885230" alt="Card image cap">
                <div class="card-body">
                    <h4>Pastor Mrs. Patience Okpako</h4>
                    <p>Assistant pastor</p>
                    <p class="card-text blockquote">A woman with passion for souls and a dynamic teacher and preacher of the Gospel.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-* col-md-4 mx-auto d-flex justify-content-center">
            <div class="card">
                <img class="card-img-top rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/acca-8e96c.appspot.com/o/images%2Fsec.png?alt=media&token=d6de87ac-a2f0-4bd8-9fbb-fdfe90d47fe7" alt="Card image cap">
                <div class="card-body">
                    <h4>Dr. Paul Fagbetu</h4>
                    <p>Secretary</p>
                    <p class="card-text blockquote">An Evangelist to the call with hunger for reaching souls for Christ.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p style="padding:10px;"></p>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-* col-md-4 mx-auto  d-flex justify-content-left">
            <ul>
                <li>
                    <h4>Programm of Activities</h4>
                </li>
                <li>
                    <strong>Wednesdays:
                        <span> 5pm</span>
                    </strong>
                    <br>
                    <span>Bible Studies and prayer Meetings.</span>
                </li>
                <li>
                    <strong>Fridays:
                        <span> 10am - 3pm</span>
                    </strong>
                    <br>
                    <span>Counsellig and deliverance Prayer.</span>
                </li>
                <li>
                    <strong>Sundays:
                        <span>9am</span>
                    </strong>
                    <br>
                    <span>worship Service.</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-* col-md-4 mx-auto d-flex justify-content-left">
            <ul>
                <li>
                    <h4>Up Coming Events</h4>
                </li>
                <li>
                    <strong>Date April 27th </strong>
                    <br>
                    <span>"Come Celebrate Christ with us" In a music carnival out-reach where tracts are shared</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-* col-md-4 mx-auto  d-flex justify-content-left">
            <ul>
                <li>
                    <h4>Unscheduled Events</h4>
                </li>
                <li>
                    <strong>Check Again</strong>
                    <br>
                    <span>Marriages and harvest</span>
                </li>
            </ul>
        </div>
    </div>
</div>