.container-fluid {
    overflow: hidden;
    overflow-y: scroll;
    .top-row {
        width: 100%;
        margin: 0px;
        padding: 1em 0px;
        .child {
            min-height: auto;
            h3 {
                display: inline;
                font-family: cursive;
                font-size: 2.5em;
                color: #883ddd;
                text-shadow: -1px -1px #fff, 1.5px -1px 0 #fff, -1px 1.5px 0 #fff, 1.5px 1.5px 0 #000;
                padding: 2em auto;
                margin: 1em;
                margin-left: 25%;
            }
            p {
                font-size: 1.2em;
                font-weight: 500;
                margin: 2em;
                margin-bottom: 1em;
                text-align: center;
            }
        }
    }
    .card {
        width: 25rem;
        margin-bottom: 1em;
        -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
        .card-body {
            background-image: linear-gradient(to right top, #3f51b5, #3f6dc6, #4a87d4, #60a0df, #7db9e8);
            font-weight: 600;
            margin-top: 0.5em;
            .card-text {
                font-weight: 500;
                text-align: justify;
            }
        }
    }
    .rounded-circle {
        max-height: 22em;
        min-height: 16em;
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }
    ul {
        list-style: none;
        li {
            margin-top: 1em;
        }
    }
}

@media(max-width: 1024px) {
    .container-fluid {
        height: 73vh;
        .top-row {
            padding: 1em 0px;
            .child {
                h3 {
                    font-family: cursive;
                    font-size: 2em;
                }
                p {
                    font-size: 1.2em;
                    font-weight: 500;
                    margin: auto 1em;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 700px) {
    .container-fluid {
        height: 80vh;
        .top-row {
            padding: 1em 0px;
            .child {
                h3 {
                    font-family: cursive;
                    font-size: 2em;
                }
                p {
                    font-size: 1.2em;
                    font-weight: 500;
                    margin: auto 1em;
                    text-align: justify;
                }
            }
        }
    }
}