* {
    box-sizing: border-box;
}

$elem-background: #5c0a97;
.modal-header {
    background-color: $elem-background;
    color: #f0fff0;
    margin: -1.7em -1.5em 0px -1.5em;
    mat-button,
    .modal-title {
        margin: auto 1em;
        padding: auto;
    }
}

.modal-body {
    margin: 0px auto;
    form {
        margin: 0px;
        mat-form-field {
            margin: auto 1em;
        }
        mat-dialog-actions {
            display: grid;
            grid-row-gap: 0.4em;
            button {
                background-color: $elem-background;
                color: #fff;
                width: 100%;
                margin: 0px auto;
                &:hover {
                    font-weight: 600;
                }
            }
            p {
                text-align: center;
                margin: 0px;
                padding: 0px;
                color: orangered;
                font-weight: 400;
            }
            button:nth-child(3) {
                background-color: orangered;
                font-weight: 500;
                &:hover {
                    color: $elem-background;
                }
            }
        }
    }
}