<div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button mat-button mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-dialog-content>
            <p>
                <mat-form-field dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
                    <input matInput placeholder="Email" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                    <mat-hint>
                        <span [hidden]="username.pristine">
                            <span [hidden]="!username.errors?.required">email is required</span>
                        </span>
                    </mat-hint>
                </mat-form-field>


                <mat-form-field dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
                    <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
                    <mat-hint>
                        <span [hidden]="password.pristine">
                            <span [hidden]="!password.errors?.required">password is required</span>
                        </span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
            </p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
            <p>Have no account?</p>
            <button mat-button class="background-accent text-floral-white" (click)="googleLogin()">Login with google</button>
            <button mat-button class="background-accent text-floral-white" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</div>