<div class="card mb-3 p-3" *ngIf="health">
    <h3 class="text-center mb-2"> HEALTH TIPS</h3>
    <div class="row" *ngFor="let topic of health">
        <div class="col-sm-12 col-md-2 ml-2 pb-1 mx-auto">
            <img class="img-thumbnail" src="{{topic.ImageUrl}}" alt="" routerLink="/category/health/{{topic.Id}}">
        </div>
        <div class="col-12 col-md-9" style="cursor: pointer;" routerLink="/category/health/{{topic.Id}}">
            <h4>{{topic.Title}}</h4>
            <p class="title">Categories: {{topic.Categories}}
                <span> <i class="fas fa-forward fa-md"></i></span>
            </p>
        </div>
    </div>

    <div *ngIf="errMess" class="mx-auto">
        <h3>Error</h3>
        <h4>{{errMess}}</h4>
    </div>
    <ng-template [ngIf]="!health">
        <div class="mx-auto">
            <span class="fas fa-spinner fa-pulse fa-2x fa-fw text-primary"></span>
            <h4>Loading . . . Please Wait</h4>
        </div>
    </ng-template>
</div>