<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9 mx-auto">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Menu</li>
            </ol>
            <div class="jumbotron text-center">
                <h1>Blessed are those who find wisdom!</h1>
                <p class="text-justify">There are many reasons, but as the word of God says, faith comes by hearing and hearing by the word of God. ... We must do what God says, standing strong in our faith, not wavering, for faith cometh by hearing and hearing by the word of
                    God. We must let God do in our lives what he says he will do through Jesus Christ.
                </p>
            </div>
            <!-- Nested route -->
            <router-outlet></router-outlet>
        </div>
        <!-- Auxilary route -->
        <router-outlet name="sidemenu"></router-outlet>
    </div>
</div>