<div class="container">
    <div class="row">
        <div class="col-12 md-6">
            <p *ngIf="title">
                <strong>{{title}}</strong>
                <br>
                <small>By: {{author}}</small>
            </p>
            <p *ngFor="let msg of message">
                {{msg}}
            </p>
        </div>
        <div class="col-12 md-6 mx-auto mb-3" style="display: inline;">
            <a class="fas share-alt-square mr-4">Share:</a>
            <a class="fab fa-facebook" style="color:#29487D; font-size:32px;" shareButton="facebook" [title]="text"></a>
            <a class="fab fa-twitter ml-3" style="color:#55ACEE; font-size:32px;" shareButton="twitter" [title]="text"></a>
            <a class="fab fa-pinterest ml-3" style="color:#BE0215; font-size:32px;" shareButton="pinterest" [title]="text"></a>
            <a class="fab fa-whatsapp ml-3" style="color:#25D366; font-size:32px;" shareButton="whatsapp" [title]="text"></a>
            <a class="fab fa-google-plus ml-3" style="color:#DC4538; font-size:32px;" shareButton="google" [title]="text"></a>
        </div>
    </div>
</div>