<div class="row mx-auto">
    <div class="col-sm-* col-md-5 col-lg-4 mx-auto">
        <h2>SERMONS</h2>
        <p>Wisdom crieth without; she uttereth her voice in the streets: She crieth in the chief place of concourse, in the openings of the gates: in the city she uttereth her words, saying, How long, ......... <em><strong>Proverbs
                    1:20-23</strong></em>
            <small><a class="ml-1" routerLink="/category/sermon" role="button"> Read more...
                    <i class="fas fa-arrow-alt-circle-right "></i>
                </a></small>
        </p>
    </div>
    <div class="col-sm-* col-md-5 col-lg-4 mx-auto">
        <h2>HEALTH TIPS</h2>
        <p>Today 90% of chronic diseases is caused by Food Choice, toxic food ingredients & lack of exercise. To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear.
            <small>
                <a class="ml-1" routerLink="/category/health" role="button"> Read more...
                    <i class="fas fa-arrow-alt-circle-right "></i>
                </a>
            </small>
        </p>
    </div>
    <div class="col-sm-* col-sm-5 col-lg-4 mx-auto">
        <h2>BLOG</h2>
        <p>“Knowledge is Power, Power provides Information; Information leads to Education, Education breeds Wisdom; Wisdom is Liberation. People are not liberated because of lack of knowledge.” ― Israelmore Ayivor
            <small>
                <a class="ml-1" routerLink="/category/social" role="button"> Read more...
                    <i class="fas fa-arrow-alt-circle-right "></i>
                </a>
            </small>
        </p>
    </div>
</div>