<div class="container">
    <div class="row card mt-3 mb-3 ml-1 mr-1 scale-up-center">
        <div class="col-12 md-6 mx-auto">
            <div class="mx-auto image-base pt-3">
                <img src="{{ImageUrl}}" alt="">
                <p *ngIf="title" class="h3 mb-2 text-center">
                    <strong>{{title}}</strong>
                </p>
            </div>

            <div *ngIf="contents" class="mt-2">
                <p *ngFor="let content of contents">
                    <span class="h4 mb2">{{content.Title}}</span>
                    <br>
                    <span>{{content.Description}}</span>
                </p>
            </div>
        </div>
        <ng-template [ngIf]="!contents">
            <div class="mx-auto">
                <span class="fas fa-spinner fa-pulse fa-2x fa-fw text-primary"></span>
                <h4>Loading . . . Please Wait</h4>
            </div>
        </ng-template>
        <div class="col-12 md-6 mx-auto mb-3" style="display: inline;">
            <a class="fas share-alt-square mr-2">Share:</a>
            <a class="fab fa-facebook" style="color:#29487D; font-size:32px;" shareButton="facebook" [title]="{title: text}"></a>
            <share-button [theme]="'modern-dark'" [button]="'facebook'" [showText]="true" [url]="'https://twitter.com/'" [autoSetMeta]="false"></share-button>
            <a class="fab fa-twitter ml-3" style="color:#55ACEE; font-size:32px;" shareButton="twitter" [title]="{title: text}"></a>
            <a class="fab fa-pinterest ml-3" style="color:#BE0215; font-size:32px;" shareButton="pinterest" [title]="{title: text}"></a>
            <a class="fab fa-whatsapp ml-3" style="color:#25D366; font-size:32px;" shareButton="whatsapp" [title]="{title: text}"></a>
            <a class="fab fa-google-plus ml-3" style="color:#DC4538; font-size:32px;" shareButton="google" [title]="{title: text}"></a>
        </div>

    </div>
</div>