.container {
    margin: 0px;
    padding: 0px;
}

.image-base {
    position: relative;
    img {
        min-width: 100%;
        margin: auto 0px;
        padding: 0px;
    }
    p {
        position: absolute;
        left: 35%;
        top: 50%;
        text-shadow: -0.5px -0.5px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #000;
    }
}

@media(max-width: 780px) {
    .image-base {
        p {
            left: 25%;
        }
    }
}

@media(max-width: 424px) {
    .image-base {
        p {
            left: 20%;
        }
    }
}

@media(max-width: 382px) {
    .image-base {
        p {
            left: 15%;
        }
    }
}

@media(max-width: 321px) {
    .image-base {
        p {
            left: 2%;
        }
    }
}