<main id="main-container">
    <figure class="prayer-bg">
        <img src="../../assets/images/prayer-bg.jpg" alt="Pray without siezing">
        <blockquote>
            Make your request known unto the Lord through Prayers and Suplication
            <span>Bible Quotation</span>
        </blockquote>
    </figure>

    <section id="contact-info" fxFlex class="form-size" [@expand]>

        <h3>Let Us Pray</h3>
        <form novalidate [formGroup]="prayerForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="showForm" [@expand]>
            <p>
                <mat-form-field class="half-width" dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
                    <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.firstname)">
                  {{formErrors.firstname}}</span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="half-width" dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
                    <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.lastname)">
                  {{formErrors.lastname}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width" dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
                    <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.telnum)">
                  {{formErrors.telnum}}</span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="half-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
                    <input matInput formControlName="email" placeholder="Email" type="email" email required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.email)">
                  {{formErrors.email}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width" dividerColor="{{(prayerForm.get('message').hasError('required') && prayerForm.get('message').touched) ? 'warn' : 'primary'}}">
                    <textarea matInput formControlName="message" placeholder="Your Prayer request" rows=6 cols=100></textarea>
                    <mat-hint color="warn">
                        <span [hidden]="!(prayerForm.get('message').hasError('required') && prayerForm.get('message').touched)">
                  lastname is required</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="prayerForm.invalid">Submit</button>
        </form>
        <div [hidden]="showForm || submitted" [@expand]>
            <h3>Submitting Prayer request</h3>
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="submitted" [@expand]>
            <h3>Prayer request has been Submitted</h3>
        </div>
    </section>
</main>