* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

$Button-background: #333333;
$Button-color: #EDEDED;
$Quote-color: #78C0A8;
#main-container {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-column-gap: 0px;
    margin: 0em;
    margin-right: 0em;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    .prayer-bg {
        margin: 0px;
        padding: 0px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        blockquote {
            font-size: 1.2em;
            width: 90%;
            margin: 0px auto;
            margin-top: -8.5em;
            font-family: Open Sans;
            font-style: italic;
            color: #555555;
            padding: 1em 1.2em;
            border-left: 8px solid $Quote-color;
            line-height: 1.6;
            position: relative;
            background: $Button-color;
        }
        blockquote::before {
            font-family: Arial;
            content: " ";
            color: $Quote-color;
            font-size: 2em;
            position: absolute;
            left: 8px;
            top: 0px;
        }
        blockquote::after {
            font-family: Arial;
            content: "";
            color: $Quote-color;
            font-size: 2em;
            position: absolute;
            right: 14px;
            top: 0px;
        }
        blockquote span {
            display: block;
            color: $Button-background;
            font-style: normal;
            font-weight: bold;
            margin-top: 0.5em;
        }
    }
    #contact-info {
        margin: 0px;
        padding: 0px;
        display: grid;
        justify-content: center;
        width: 100%;
        .support-pad {
            display: none;
        }
        h3 {
            text-align: center;
            padding: 1em;
        }
        form {
            margin: 0px;
            padding: 0px;
            width: 100%;
            // margin-left: -1em;
            p {
                padding: 0px;
                margin: 0px;
                .half-width,
                .full-width {
                    width: 100%;
                    margin: 0px;
                    padding: 0px;
                }
            }
            button {
                margin: 0.5em auto;
                padding: auto 2em;
                width: 100%;
                background-color: $Button-background;
                color: $Button-color;
            }
        }
    }
}

@media (max-width: 1024) {
    #main-container {
        display: grid;
        grid-template-columns: 45% 55%;
        .prayer-bg {
            margin: 0px;
            blockquote {
                font-size: 1.2em;
                width: 100%;
                margin: 0px auto;
                margin-top: -20em;
                padding: 1em 0.5em;
            }
            blockquote::before {
                left: 8px;
                top: 0px;
            }
            blockquote::after {
                right: 14px;
                top: 0px;
            }
            blockquote span {
                margin-top: 0.2em;
            }
        }
        #contact-info {
            margin: 5px 0px;
            padding: 5px 0px;
            display: grid;
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    #main-container {
        display: grid;
        grid-template-columns: 42% 58%;
        .prayer-bg {
            blockquote {
                font-size: 1em;
                width: 95%;
                margin: 0px auto;
                margin-top: -8.5em;
                padding: 1em 1.2em;
            }
            blockquote::before {
                font-family: Arial;
                content: " ";
                color: $Quote-color;
                font-size: 2em;
                position: absolute;
                left: 8px;
                top: 0px;
            }
            blockquote::after {
                font-family: Arial;
                content: "";
                color: $Quote-color;
                font-size: 2em;
                position: absolute;
                right: 14px;
                top: 0px;
            }
            blockquote span {
                display: block;
                color: $Button-background;
                font-style: normal;
                font-weight: bold;
                margin-top: 0.5em;
            }
        }
        #contact-info {
            form {
                margin: 0px auto;
                width: 95%;
            }
        }
    }
}

@media(max-width: 600px) {
    #main-container {
        display: grid;
        grid-template-areas: 'prayer-bg prayer-bg' 'contact contact';
        grid-row-gap: 0.5em;
        max-height: 90vh;
        overflow-y: scroll;
        .prayer-bg {
            grid-area: prayer-bg;
            margin: 0px;
            padding: 0px;
            width: 100%;
            img {
                width: 100%;
                height: 20em;
                margin: 0px;
                padding: 0px;
            }
            blockquote {
                font-size: 1em;
                width: 95%;
                margin: auto;
                margin-top: -8.6em;
                padding: 0.7em auto;
            }
            blockquote::before {
                left: 6px;
                top: -10px;
            }
            blockquote::after {
                right: 10px;
                top: 0px;
            }
            blockquote span {
                margin-top: 5px;
                padding: 0px auto;
            }
        }
        #contact-info {
            grid-area: contact;
            margin: 0px;
            padding: 0px 1em;
            display: grid;
            justify-content: center;
            width: 100%;
            .support-pad {
                display: block;
                padding: 15px;
            }
            // h3 {
            //     text-align: center;
            // }
            // form {
            //     margin: 0px;
            //     padding: 0px;
            //     width: 100%;
            //     // margin-left: -1em;
            //     p {
            //         padding: 0px;
            //         margin: 0px;
            //         .half-width,
            //         .full-width {
            //             width: 100%;
            //             margin: 0px;
            //             padding: 0px;
            //         }
            //     }
            // }
        }
    }
}