* {
    box-sizing: border-box;
}

$imgpath: "/assets/images/";
.landing {
    position: relative;
    background-image: url(#{$imgpath}/background.PNG);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}

.landing h1 {
    font-size: 40px;
    color: red;
}

.landing p {
    font-size: 30px;
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
    color: #fff;
}

.countdown div:first-child {
    background: #17a2b8;
}

.countdown span {
    display: block;
    font-size: 25px;
}

@media (max-width: 1024) {
    .landing p {
        font-size: 40px;
        padding: 0px 1rem;
        margin: 10px auto;
    }
    .landing h1 {
        padding: 0px auto;
        margin: 10px auto;
    }
}

@media (max-width: 650px) {
    .landing-inner {
        padding-top: 30px;
    }
    .landing img {
        width: 40%;
        margin-bottom: 0px;
    }
    .landing p {
        font-size: 30px;
    }
    .landing h1 {
        font-size: 40px;
    }
    .countdown {
        margin-top: 10px;
        font-size: 30px;
        flex-direction: column;
    }
    .countdown div {
        display: none;
    }
    .countdown div:first-child,
    .countdown div:nth-child(2),
    .countdown div:last-child,
    {
        display: block;
        width: 60%;
        padding: 10px;
    }
    .countdown div:nth-child(2),
    .countdown div:last-child,
    {
        display: inline-block;
        width: 60%;
        padding: 5px;
    }
    .countdown span {
        display: block;
        font-size: 20px;
    }
}

@media (max-height: 600px) {
    .countdown {
        margin-top: 10px;
    }
    img {
        width: 20%;
        margin: 0px;
    }
    p {
        display: block;
    }
}

@media (max-height: 400px) {
    .countdown {
        margin-top: 10px;
    }
    img {
        padding-bottom: 30px;
    }
    h1 {
        display: none;
    }
}

@media(max-width: 320px) {
    .countdown {
        font-size: 30px;
        flex-direction: row;
        margin-top: 10px;
    }
    .landing-inner {
        padding-top: 20px;
    }
    p {
        display: block;
    }
}