<section class="landing">
    <div class="landing-inner">
        <img src="http://pngimg.com/uploads/bible/bible_PNG32.png" />
        <p>Annointed Celebrating Christ Assemble</p>
        <h1>Articles Coming Soon</h1>
        <div class="countdown" *ngIf="notLunched">
            <div>{{days}}<span>Days</span></div>
            <div>{{hours}}<span>Hours</span></div>
            <div>{{mins}}<span>Minutes</span></div>
            <div>{{seconds}}<span>Seconds</span></div>
        </div>
        <div class="lunched" *ngIf="lunched">
            <h1 style="color:#17a2b8">Lunched</h1>
        </div>
    </div>
</section>