#footer {
    background-color: #3F51B5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container {
    color: floralwhite;
    display: grid;
    width: 100%;
    justify-content: center;
    margin: auto;
    .top-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1em;
        justify-content: center;
        margin: 1.2em auto;
        .links {
            margin-left: 1.3em;
        }
        .link {
            margin-left: 0px;
            padding-left: 0px;
            ul li {
                margin: 0.5em 0px;
                cursor: pointer;
            }
        }
        a {
            margin: 1em;
            box-shadow: 1px 3px 4px 2px #888888;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            transition-timing-function: linear;
            transform: scale(1);
            &:hover {
                transform: scale(1.1);
                -webkit-transition-duration: 400ms;
                transition-duration: 400ms;
                transition-timing-function: linear;
            }
        }
        .btn-facebook {
            color: #fff !important;
            background-color: #3b5998 !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
        .btn-google-plus {
            color: #fff !important;
            background-color: #dd4b39 !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
        .btn-youtube {
            color: #fff !important;
            background-color: #ff4b39 !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
        .btn-linkedin {
            color: #fff !important;
            background-color: #007bb6 !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
        .btn-twitter {
            color: #fff !important;
            background-color: #55acee !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
        .btn-mail {
            color: #fff !important;
            background-color: #512DA8 !important;
            box-shadow: 0.7px 0.7px 0.7px 0.7px #fff;
        }
    }
    .copyright {
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 769px) {
    .container {
        margin: 0px;
        padding: 0px;
        .top-content {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            margin: 1.5em auto;
            padding: 0px auto;
            .link {
                margin-left: 2em;
                margin-right: 2em;
                ul li {
                    margin: 0.5em 0px;
                }
            }
            a {
                margin: 1em;
                font-size: 1em;
            }
        }
        .link,
        .address,
        .contact {
            max-width: 16em;
        }
        .social {
            grid-area: 2 / 1 / span 2 / span 3;
            margin: auto;
            h3 {
                text-align: center;
                margin: 0px auto;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        .top-content {
            padding: 0px auto;
            .link {
                margin-left: 1em;
                margin-right: 1em;
                ul {
                    margin-left: -15px;
                }
            }
            a {
                margin: 0.5em;
            }
        }
        .link,
        .address {
            min-width: 10em;
            max-width: 15em;
        }
        .contact {
            grid-area: 2 / 1 / span 2 / span 3;
            min-width: 20em;
            margin: 1em auto;
            h3 {
                text-align: center;
            }
            p {
                font-size: 1em;
                margin: 0px;
                padding: 0px auto;
            }
        }
        .social {
            grid-area: 4 / 1 / span 2 / span 3;
            margin: auto;
            a {
                margin: 0.3em;
                font-size: 0.7em;
            }
        }
        h3 {
            font-size: 1.3em;
        }
    }
    .copyright {
        font-size: 0.8em;
    }
}

@media(max-width: 375px) {
    .container {
        .link,
        .address {
            min-width: 10em;
            max-width: 15em;
            font-size: 0.9em;
        }
        .contact {
            grid-area: 2 / 1 / span 2 / span 3;
            min-width: 18em;
            margin: 1em auto;
            p {
                font-size: 0.9em;
                margin: 0px 1em;
                padding: 0px auto;
            }
        }
        .social {
            grid-area: 4 / 1 / span 2 / span 3;
            margin: auto;
            a {
                margin: 0.3em;
                font-size: 0.7em;
            }
        }
        h3 {
            font-size: 1.2em;
        }
    }
}