<div id="footer">
    <div class="container">
        <section class="top-content">
            <article class="link">
                <h3 class="links">Links</h3>
                <ul style="list-style:none;">
                    <li routerLink="/">Home</li>
                    <li routerLink="/aboutus">About</li>
                    <li routerLink="/category">Resources</li>
                    <li routerLink="/contactus">Contact</li>
                </ul>
            </article>
            <article class="address">
                <h3>Address</h3>
                <p>4 Plot 3, Hon. Daudu Orogun Street,<br> Kotokoto Ovwian.<br> Udu via Warri. <br> Nigeria</p>
            </article>
            <article class="contact">
                <h3>Contacts</h3>
                <p>Rev. Matthew Okpako<br> Tel: +234 (0) 706 954 7224 <br> E-mail: rev-matthew@religion2christ.org</p>
                <p>Support: support@religion2christ.org</p>
            </article>
            <article class="social">
                <h3>Follow Us @</h3>
                <a mat-icon-button class="btn-google-plus" href="http://google.com/">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a mat-icon-button class="btn-linkedin" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a mat-icon-button class="btn-twitter" href="http://twitter.com/">
                    <i class="fab fa-twitter"></i>
                </a>
                <a mat-icon-button class="btn-youtube" target="_blank" href="https://www.youtube.com/watch?v=I1JhDQ6f-T0&list=PL2N-KVa39KkNIHy3rDdiHzCx3LNZxgJ8v&index=4">
                    <i class="fab fa-youtube"></i>
                </a>
                <a mat-icon-button class="btn-mail" href="mailto:otavo.rex@gmail.com">
                    <i class="far fa-envelope"></i>
                </a>
            </article>
        </section>
        <section class="copyright">
            <article class="copy">
                <p>Copyright © 2018 ACCA</p>
            </article>
        </section>
    </div>
</div>