.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background-color: cyan;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 3;
}


/* .float {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: none;
    z-index: 1;
}

button {
    position: fixed;
    top: 50vh;
    z-index: 2;
    width: 6em;
}

button:nth-child(2) {
    top: 55vh;
} */

router-outlet {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.span-name {
    color: floralwhite;
    font-family: Roboto, sans-serif;
    font-size: 1.3em;
    cursor: pointer;
}

.spacebar {
    flex: 1 1 auto;
}

mat-toolbar ul {
    margin: 0px;
    padding: 0px;
    margin-right: 2em;
}

mat-toolbar ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

mat-toolbar ul li a {
    color: floralwhite;
    text-decoration: none;
    margin: 0px 1em;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

mat-toolbar ul li a:hover {
    color: slategray;
}

.span-icons .material-icons {
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
    color: #fff;
}

mat-toolbar .bible {
    height: 40%;
    padding: 0px;
    margin: 0px auto;
    margin-left: 2em;
    cursor: pointer;
}

@media(max-width: 769px) {
    mat-toolbar ul li a {
        margin: 0px 0.2em;
        padding: 1em 0.5em;
        font-size: 0.7em;
    }
}

@media (max-width: 590px) {
    mat-toolbar a {
        display: none;
    }
    .hidden {
        display: block;
    }
}