<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)!.matches}" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary" style="min-height:6em;word-wrap: break-word; text-align: center;">Anointed <br>celebrating Christ <br> Assembly</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="active">
                <span class="span-icons">
                    <i class="fas fa-home"></i>
                </span> Home</a>
            <a mat-list-item routerLink="/aboutus" routerLinkActive="active"><span class="span-icons">
                    <i class="fas fa-info"></i>
                </span> About</a>
            <a accesskey="c" mat-list-item routerLink="/category" routerLinkActive="active"><span class="span-icons">
                    <i class="fab fa-forumbee"></i>
                </span> Resources</a>
            <a mat-list-item routerLink="/contactus" routerLinkActive="active"><span class="span-icons">
                    <i class="fas fa-address-book"></i>
                </span> Contact</a>
            <a mat-list-item *ngIf="!username" (click)="openLoginForm()">
                <span class="span-icons">
                    <i class="fas fa-sign-in-alt"></i>
                </span> Login
            </a>
            <a mat-list-item *ngIf="username" (click)="logout()">
                <span class="span-icons">
                    <i class="fas fa-sign-out-alt"></i>
                </span> LogOut
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <img class="bible" src=".././../holy-bible.png" alt="Bible" routerLink="/">
            <span class="span-name" routerLink="/">ACCA</span>
            <span class="spacebar"></span>
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active">
                        <span class="span-icons">
                            <i class="fas fa-home"></i>
                        </span> Home
                    </a>
                </li>
                <li>
                    <a routerLink="/aboutus" routerLinkActive="active">
                        <span class="span-icons">
                            <i class="fas fa-info"></i>
                        </span> About
                    </a>
                </li>
                <li>
                    <a routerLink="/category" routerLinkActive="active">
                        <span class="span-icons">
                            <i class="fab fa-forumbee"></i>
                        </span> Resources
                    </a>
                </li>
                <li>
                    <a routerLink="/contactus" routerLinkActive="active">
                        <span class="span-icons">
                            <i class="fas fa-address-book"></i>
                        </span> Contact
                    </a>
                </li>
                <li>
                    <a *ngIf="!username" (click)="openLoginForm()">
                        <span class="span-icons">
                            <i class="fas fa-sign-in-alt"></i>
                        </span> Login
                    </a>
                    <a *ngIf="username" (click)="logOut()">
                        <span class="span-icons">
                            <i class="fas fa-sign-out-alt"></i>
                        </span> LogOut
                    </a>
                </li>
            </ul>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>