<div class="col-12 mb-3">
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="sermon">Sermons</a>
        </li>
        <li class="list-group-item">
            <a routerLink="health">Health Tips</a>
        </li>
        <li class="list-group-item">
            <a routerLink="social">Social Vlog</a>
        </li>
    </ul>
</div>