.list-group {
    min-width: 15em;
}

@media (max-width: 1024px) {
    .list-group {
        width: 75vw;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 987px) {
    .list-group {
        width: 58vw;
        margin-left: 15%;
    }
}

@media (max-width: 800px) {
    .list-group {
        width: 70vw;
        margin-left: 4em;
    }
}

@media (max-width: 768px) {
    .list-group {
        width: 63vw;
        margin-left: 6em;
    }
}

@media (max-width: 767px) {
    .list-group {
        width: 65vw;
        margin-left: 0.7em;
    }
}

@media (max-width: 735px) {
    .list-group {
        width: 67vw;
    }
}

@media (max-width: 705px) {
    .list-group {
        width: 70vw;
        margin-left: 0.6em;
    }
}

@media (max-width: 575px) {
    .list-group {
        width: 90vw;
        margin-left: 0.5em;
    }
}

@media (max-width: 390px) {
    .list-group {
        width: 85vw;
    }
}