// https://material.angular.io/guide/theming-your-components
// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Angular core
@include mat-core();
// My defined mixing themes
$my-theme-primary: mat-palette($mat-indigo, 500, 300, 900);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
// Including it in in anuglar.json
@include angular-material-theme($my-theme);

/* Removed from angular.json
"input": "node_modules/@angular/material/prebuilt-themes/indigo-pink.css" 
*/