/* You can add global styles to this file, and also import other style files */

// @import "~@fortawesome/fontawesome-free-webfonts/css/fa-brands.css";
// @import "~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css";
// @import "~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css";
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#cdk-overlay-0,
#mat-dialog-0>app-prayer,
#mat-dialog-0 {
    max-width: 50vw;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 1400px) {
    #cdk-overlay-0,
    #mat-dialog-0>app-prayer,
    #mat-dialog-0 {
        max-width: 60vw;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 1170px) {
    #cdk-overlay-0,
    #mat-dialog-0>app-prayer,
    #mat-dialog-0 {
        max-width: 70vw;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 1024px) {
    #cdk-overlay-0,
    #mat-dialog-0>app-prayer,
    #mat-dialog-0 {
        max-width: 75vw;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 940px) {
    #cdk-overlay-0,
    #mat-dialog-0>app-prayer,
    #mat-dialog-0 {
        max-width: 90vw;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 878px) {
    #cdk-overlay-0,
    #mat-dialog-0>app-prayer,
    #mat-dialog-0 {
        max-width: 95vw;
        padding: 0px;
        margin: 0px;
    }
}