<div class="container-fluid slide-in-elliptic-top-fwd">
    <header class="row">
        <div id="stripes" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="col-sm-* col-md-5 mx-auto">
            <div class="container-lg">
                <h1>
                    You're Welcome!
                </h1>
                <p class="common-BodyText">
                    Wherever you are in life, you have a purpose.<br> At <span class="church-name"><em>Anointed
                            Celebrating Christ Assembly</em></span>,
                    <br>we want to help you become the person <br>God created you to be.
                </p>
                <ul>
                    <li>
                        <a class="btn btn-raised btn-success" routerLink="/category/sermon">Sermons</a>
                    </li>
                    <li class="hidden-sm-down">
                        <a class="btn btn-raised btn-info" routerLink="/category/social">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-* col-md-4 mx-auto">
            <div class="container-img">
                <img src="../../assets/images/family.png" alt="">
            </div>
        </div>
    </header>
    <div class="row second-row">
        <div class="col-sm-* col-md-8 mx-auto text-center">
            <h3>Need Prayer?</h3>
            <p>There are times when life is overwhelming, when all we have is questions. In those moments, hope can feel far away. The great thing about prayer is that it shifts our perspective toward the One who stands ready to listen. No matter what you’re
                facing, we’d love to pray with you!</p><br>
            <a class="btn btn-raised btn-success" (click)="openPrayerForm()">Ask For Prayer</a>
        </div>
    </div>
    <div class="row third-row">
        <div class="col-sm-* col-md-5 mx-auto text-center">
            <img class="img-thumbnail mx-auto .sr-only slide-in-elliptic-top-fwd" src="https://i.imgur.com/CaVCGjC.jpg" alt="Fruits and Vegetables">
            <br>
            <figcaption>Healthy Fruits and Vegetables</figcaption>
        </div>
        <div class="col-sm-* col-md-5 mx-auto text-center">
            <h3>Healthy is Wealth</h3>
            <p>“Dear friend, I pray that you may enjoy good health and that all may go well with you, even as your soul is getting along well” (3 John 1:2).<br> “Speak to the people of Israel, saying, These are the living things that you may eat among all
                the animals that are on the earth” (Leviticus 11:2).</p>
            <br><a class="btn btn-raised btn-info" routerLink="/category/health">Get Free Resources</a>
        </div>
    </div>
    <div class="row fouth-row">
        <div class="col-sm-* col-md-8 mx-auto text-center">
            <h3>Follow Us @</h3>

            <ul>
                <li>
                    <a mat-icon-button class="btn-google-plus" href="http://google.com/">
                        <img src="../../assets/social/if_social_media_isometric_15-google-plus_3529685.png" alt="google-icon">
                    </a>
                </li>
                <li>
                    <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id=">
                        <img src="../../assets/social/if_social_media_isometric_1-facebook_3529651.png" alt="facebook-icon">
                    </a>
                </li>
                <li>
                    <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/">
                        <img src="../../assets/social/if_social_media_isometric_14-linkedin_3529657.png" alt="linkedin-icon">
                    </a>
                </li>
                <li>
                    <a mat-icon-button class="btn-twitter" href="http://twitter.com/">
                        <img src="../../assets/social/if_social_media_isometric_6-twitter_3529664.svg" alt="twitter-icon">
                    </a>
                </li>
                <li>
                    <a mat-icon-button class="btn-youtube" target="_blank" href="https://www.youtube.com/watch?v=I1JhDQ6f-T0&list=PL2N-KVa39KkNIHy3rDdiHzCx3LNZxgJ8v&index=4">
                        <img src="../../assets/social/if_social_media_isometric_2-youtube_3529652.png" alt="youtube-icon">
                    </a>
                </li>
                <li>
                    <a mat-icon-button class="btn-mail" href="mailto:otavo.rex@gmail.com">
                        <img src="../../assets/social/if_mail_328046.png" alt="youtube-icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>